@model Pilota
@{
    ViewData["Title"] = "Dettaglio Pilota da Eliminare";
}

<h1>Sicuro di voler eliminare questo pilota?</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Confirm Delete" class="btn btn-danger float-right mt-3" />
    <a asp-action="Index" class="btn btn-secondary float-left mt-3">Cancel</a>
</form>