@model Pilota

@{
    ViewData["Title"] = "Dettaglio Pilota";
}

<h1>Pilota</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>

<a asp-controller="Pilota" asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-sm btn-outline-secondary">Modifica</a>
<a asp-controller="Pilota" asp-action="Delete" asp-route-id="@Model.Id" type="button" class="btn btn-sm btn-outline-secondary">Elimina</a>