@model IEnumerable<Pilota>

@{
    ViewData["Title"] = "Piloti";
}

<h1>Piloti</h1>
<a asp-controller="Pilota" asp-action="Create" type="button" class="btn btn-sm btn-success">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a asp-controller="Pilota" asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Dettagli</a>
                </td>
            </tr>
        }
    </tbody>
</table>